// @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700'); 

@import url("https://use.typekit.net/por4icx.css");

html {
	font-size: 1vw;
}

body {
	font-family: ff-tisa-sans-web-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem; 
	line-height: 1.5; 
	color: $black; 
}

h1, h2, h3, h4, h5, h6 { 
	font-family: calluna, serif;
	font-weight: 900;
	line-height: 1.25; 
	font-style: normal;
}

h1 {
	font-size: 10rem;
	margin-bottom: 1em; 
	// color: $primary-color;
	color: green;
}
h2 {
	font-size: 7.5rem;
	margin-bottom: 1rem; 
}
h3 {
	font-size: 5rem;
	margin-bottom: 1rem; 
}
h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem; 
}
h5 {
	font-size: 1.25rem;
	margin-bottom: 1rem; 
}
h6 {
	font-size: 1rem;
	margin-bottom: 1rem; 
}


p {
	font-size: 1rem;
	margin-bottom: 1em; 
}


b, strong { font-weight: 700; } 

a {
	color: $primary-color; 
	text-decoration: none; 
	transition: $transition;
}
a:hover {
	color: $darker-primary-color; 
}

input, 
textarea {
	font-size: 0.9rem;
	line-height: 1.25rem;
	outline: none;
}

.text-small {
	font-size: 0.8rem; 
	line-height: 1.2rem; 
}