$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$radius: 3px; 

$padding-s: 5px;
$padding: 10px;
$padding-l: 5px;

$transition: all 500ms ease-out; 